@import '../vars';

.header {
  width: 100%;
  background-color: #fff;
  height: 50px;
  margin-bottom: 15px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    img {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
  .login {
    span {
      font-weight: 500;
      font-size: 18px;
    }
    button {
      border: 1px solid $main-color;
      background-color: transparent;
      padding: 5px 10px;
      font-weight: 600;
      font-size: 14px;
      border-radius: 15px;
      color: $main-color;
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}
